---
pageable: true
---
<div class='container'>
  <h1>Archive for
    <% case page_type
       when 'day' %>
      <%= Date.new(year, month, day).strftime('%b %e %Y') %>
    <% when 'month' %>
      <%= Date.new(year, month, 1).strftime('%b %Y') %>
    <% when 'year' %>
      <%= year %>
    <% end %>
  </h1>

  <% if paginate && num_pages > 1 %>
    <p>Page <%= page_number %> of <%= num_pages %></p>

    <% if prev_page %>
      <p><%= link_to 'Previous page', prev_page %></p>
    <% end %>
  <% end %>

  <ul class='posts' id='post-list'>
  <% page_articles.each_with_index do |article, i| %>
    <li>
      <span class='date'><%= article.date.strftime('%b %d') %></span> &raquo;
      <%= link_to article.title, article %>
    </li>
  <% end %>
  </ul>

  <% if paginate %>
    <% if next_page %>
      <p><%= link_to 'Next page', next_page %></p>
    <% end %>
  <% end %>
</div>
