---
pageable: true
per_page: 12
---
<div class='container'>
  <h1>Articles tagged '<%= tagname %>'</h1>

  <% if paginate && num_pages > 1 %>
    <p>Page <%= page_number %> of <%= num_pages %></p>

    <% if prev_page %>
      <p><%= link_to 'Previous page', prev_page %></p>
    <% end %>
  <% end %>

  <ul class='posts' id='post-list'>
  <% page_articles.each_with_index do |article, i| %>
    <li>
      <span class='date'><%= article.date.strftime('%b %d') %></span> &raquo;
      <%= link_to article.title, article %>
    </li>
  <% end %>
  </ul>

  <% if paginate %>
    <% if next_page %>
      <p><%= link_to 'Next page', next_page %></p>
    <% end %>
  <% end %>
</div>